<%= form_for @recipe, html: { multipart: true } do |f| %>
    <%= render 'shared_recipes/error_messages' %>

    <div>
      <%= f.label :name, 'Nombre' %>
      <%= f.text_field :name %>
    </div>

    <div>
      <%= f.label :ingredient, 'Ingredientes' %><br>
      <%= f.text_area :ingredient %>
    </div>

    <div>
      <%= f.label :description, 'Descripción' %><br>
      <%= f.text_area :description %>
    </div>

    <div>
      <%= f.label :image, 'Imagen de la Receta' %>
      <%= f.file_field :image, class: 'form-control' %>
    </div>

    <div>
      <%= f.submit 'Guardar' %>
    </div>
<% end %>