<%= form_for @recipe, html: { multipart: true } do |f| %>
  <%= render 'shared_recipes/error_messages' %>

  <div class="container">

    <div>
      <%= f.label :name, 'Nombre' %>
      <%= f.text_area :name %>
    </div>

    <div>
      <%= f.label :ingredient, 'Ingredientes' %><br>
      <%= f.text_area :ingredient %>
    </div>

    <div>
      <%= f.label :description, 'Descripción' %><br>
      <%= f.text_area :description, size: "20x20" %>
    </div>

    <div>
      <p>
        <%= f.label :image, 'Imagen de la Receta' %>
      </p>
      <p>
        <%= image_tag @recipe.image.url(:medium) %>
      </p>
      <p>
        <%= f.file_field :image %>
      </p>
    </div>

    <div class="container guardar">
      <a class="waves-effect waves-light btn"><%= f.submit 'Guardar' %></a>
    </div>
  </div>
<% end %>