<div class="container contenedor">
  <h1>Recetas</h1>

  <% @recipes.each do |recipe| %>
        <div class="card">
          <div class="card-block">
            <%= image_tag recipe.image.url(:medium) %>
          </div>
          <div class="card-block">
            <h4 class="card-title"><%= recipe.name %></h4>
            <p class="card-text"><%= recipe.description %></p>
            <p class="card-text"><small class="text-muted">
              Last updated 3 mins ago</small>
            </p>
          </div>
          <div class="card-block">
            <button type="button" class="btn btn-default"><%= link_to 'Mostrar Receta', recipe_path(recipe) %></button>
            <button type="button" class="btn btn-default"><%= link_to 'Editar Receta', edit_recipe_path(recipe) %></button><br>
            <button type="button" class="btn btn-default"><%= link_to 'Eliminar', recipe_path(recipe),
                        method: :delete,
                        data: { confirm: '¿Esta seguro?'} %></button>
          </div>
        </div>
  <% end %>
</div>