<div class="container">
  <div class="jumbotron">
    <h1>Recetas</h1>
    <p>Aquí podrás encontrar las mejores recetas para que disfrutes de tu alimentación saludablemente.</p>
  </div>

  <%= form_tag recipes_path, :method => 'get', :id => "recipes_search" do %>

    <div class="buscador_alimentacion">
      <%= text_field_tag :search, params[:search] %>
      <a class="waves-effect waves-light btn"><%= submit_tag "Buscar Receta", :name => nil %></a>
    </div>
    <div class="contenedor_alimentacion"  id="recipes"><%= render 'recipe' %></div>

  <% end %>

  <a><%= link_to 'Crear una nueva receta',  new_recipe_path %></a><br>
</div>

