<div class="jumbotron jumbotron-recipes">
  <div class="titulo_alimentacion">
    <h1>Recetas</h1>
    <p>Aquí podrás encontrar las mejores recetas para que disfrutes de tu alimentación saludablemente.</p>
  </div>
</div>

<div class="container">
  <%= form_tag recipes_path, :method => 'get', :id => "recipes_search" do %>

    <div class="buscador_alimentacion">
        <%= text_field_tag :search, params[:search], class:"form-control submit_alimentacion" %>

        <%= submit_tag "Buscar Receta", :name => nil, class:"btn btn-default" %>
    </div>

      <div class="contenedor_alimentacion"  id="recipes">
        <%= render 'recipe' %>
      </div>
  <% end %>

  <div class="link_nuevoalim">
    <%= link_to 'Crear una nueva receta',  new_recipe_path %>
  </div>

</div>


