<div class="container">
  <div class="jumbotron">
    <h1>Receta: <small><%= @recipe.name %></small></h1>
  </div>

  <div class="container">
    <p>
      <h4>Ingredientes:</h4><br>
      <%= @recipe.ingredient %>
    </p>

    <p>
    <h4>Descripción:</h4><br>
      <%= @recipe.description %>
    </p>

    <p>
      <%= image_tag @recipe.image.url %>
    </p>
  </div>


  <div class="container">
    <%= link_to 'Editar Receta', edit_recipe_path(@recipe) %> |
    <%= link_to 'Volver a las recetas', recipes_path %>
  </div>
</div>