<div class="jumbotron jumbotron-recipes">
  <div class="titulo-index">
    <h1>Recetas</h1>
    <p>Aquí podrás encontrar las mejores recetas para que disfrutes de tu alimentación saludablemente.</p>
  </div>
</div>

<div class="container">
  <div class="show">
    <h2><%= @recipe.name %></h2>

    <p>
      <%= @recipe.ingredient %>
    </p>

    <p>
    <h4>Descripción:</h4><br>
      <%= @recipe.description.gsub(/\n/, '<br/>').html_safe %>
    </p>

    <p class="show-imagen">
      <%= image_tag @recipe.image.url(:medium) %>
    </p>
  </div>

  <div class="container">
    <% if can? :manage, @recipe %>
      <%= link_to 'Editar Receta', edit_recipe_path(@recipe) %>
    <% end %>
    <%= link_to 'Volver a Recetas', recipes_path %>
  </div>
</div>