<div class="row ">
<% @events.each do |event| %>


      <div class="col s3">
        <div class="card ">
            <div class="card-content ">
              <h4 class="card-title"><%= event.nombreEven %></h4>
              <p>Lugar: <%= event.lugar %></p>
            </div>
            <div class="card-action">
              <p class="card-text"><small class="text-muted">Fecha:<%= event.fechaHora.strftime(" %A, %w of %B") %> </small></p>
              <p class="card-text"><small class="text-muted">Hora:<%= event.fechaHora.strftime(" %X %p") %></small></p>
              <p><%= link_to 'Mostrar', event_path(event) %></p>
            </div>


        </div>
      </div>


<% end %>

</div>