<div class="row" >
  <% @events.each do |event| %>

       <div class="col-md-3" >
          <div class="tarjeta" style="width: 250px">
            <h4 class="header-event" ><%= event.nombreEven %></h4>
            <div class="descripcion">
              <p >Lugar: <%= event.lugar %></p>
              <p ><small class="text-muted">Fecha: <%= event.fechaHora.strftime(" %A, %w of %B") %></small></p>
              <p ><small class="text-muted">Hora: <%= event.fechaHora.strftime(" %X %p") %></small></p>
            </div>
            <div class="links-tarjeta ">
              <p><%= link_to 'Mostrar', event_path(event) %></p>
            </div>
          </div>
      </div>
  <% end %>
</div>