<div class="jumbotron jumbotron-eventos" style="height: 300px" >
  <div class="titulo-index">
    <h1>EVENTOS</h1>
    <p>Cada día trae su ventura <br>
  </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
      <h1>Evento:<%= @event.nombreEven %></h1>
    </div>
  <div class="panel-body">
      <div class="container"  >
        <div style="font-size: 22px; text-align: center !important;">
          <div>
            <strong>Responsable </strong>
            <div>
              <%= @event.responsable %>
            </div>
          </div>
          <div>
            <br>
            <strong>Descripción </strong>
            <div >
              <%= @event.descripcion%>
            </div>
          </div>
          <div>
            <br>
            <strong>Lugar del evento </strong>
            <div>
              <%= @event.departamento + ' - ' + @event.lugar%>
            </div>
          </div>
          <div>
            <br>
            <strong>Fecha y hora: </strong>
            <div>
              <%= (@event.fechaHora).strftime(" %A, %w of %B")+ ' - ' + (@event.fechaHora).strftime(" %X %p")%><br>
            </div>
          </div>
          <div>
            <br>
            <strong>Teléfono: </strong>
            <div>
              <%= @event.telefono %><br>
            </div>
          </div>
          <div>
            <br>
            <strong>Correo: </strong>
            <div>
              <%= @event.email %>
            </div>
          </div>
        </div>


      </div>


    <div class="row">
      <% if can? :manage, @event %>
          <div class="col-sm-6" style="text-align: right">
            <br>
            <%= link_to 'Editar evento', edit_event_path,class:"btn btn-primary" %>
          </div>
          <div class="col-sm-6">
            <div>
              <br>
              <%= link_to 'Eliminar evento', event_path(),
                          method: :delete,
                          data: { confirm: 'Estas seguro de eliminarlo?' },class:"btn btn-danger" %>
            </div>
          </div>


      <% end %>
    </div>
  </div>

    <div>
      <% unless @event.user.nil? %>
          <div>
            <strong>Escrito por: </strong>
            <%= @event.user.email %>
          </div>
      <%end %>

      <p><%= link_to 'Volver', events_path %></p>
    </div>
  </div>





