<div class="container">
  <div class="jumbotron">
    <h1>Tips</h1>
    <p>Encuentra los mejores consejos de alimentación y ejercicios en este lugar.</p>
  </div>


  <%= form_tag tips_path, :method => 'get', :id => "tips_search" do %>

    <div class="buscador_alimentacion">
      <%= text_field_tag :search, params[:search] %>
      <a class="waves-effect waves-light btn"><%= submit_tag "Buscar Tip", :name => nil %></a>
    </div>

    <div class="contenedor_alimentacion"  id="tips"><%= render 'tip' %></div>

  <% end %>

    <a><%= link_to 'Crear un nuevo tip',  new_tip_path %></a>
</div>
