<div class="jumbotron jumbotron-tips">
  <div class= "titulo_alimentacion">
    <h1>FIT TIPS</h1>
    <p>Encuentra los mejores consejos de alimentación y ejercicios para tu rutina diaria.</p>
  </div>
</div>

<div class="container">
  <div class="show_alimentacion">
    <h2><%= @tip.name %></h2>

    <p>
    <%= @tip.description.gsub(/\n/, '<br/>').html_safe %>
    </p>

    <p class="show_imagen">
      <%= image_tag @tip.image.url(:medium) %>
    </p>
  </div>

  <div class="container">
    <% if can? :manage, @tip %>
      <%= link_to 'Editar Tip', edit_tip_path(@tip) %>
    <% end %>
    <%= link_to 'Volver a tips', tips_path %>
  </div>
</div>

